# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Reports & data (generated)
reports/*
!reports/.gitkeep

data/_cache/
data/*.csv
!data/.gitkeep

# Compiled
*.so